#firstList{
      border: 2px solid white;
      word-wrap: break-word;
      box-sizing: border-box;
}
#secondList{
      border: 2px solid white;
      box-sizing: border-box;
      word-wrap: break-word;
}
body{
      color: white;
}

.middle{
      border: 2px solid blue;
}
.Border{
      border: 2px solid #66bfbf;
}
.BorderOfInput{
      border: 2px solid #e4f1fe;
}
body{
      margin: 0;
      padding: 0;
}

#input-tag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #edeef0;
      border-radius: 30px;
      padding-left: 20px;
      margin-bottom: 25px;
      width: 30%;
  }
input{
      flex: 1;    
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.Button-update{
      border: none;
      outline: none;
      position: relative;
      width: 100%;
      height: 50px;
      background: #ff5945;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      border-radius: 40px;
      margin-left: 0%;
  }

.ListParent{
      background-color: #e4f1fe;
      color: black;
      border-radius: 20px;
}

.ListChildOne{
      border: 2px solid rgb(127, 252, 252); 
      box-shadow: 0 0 10px rgb(114, 252, 252);
      border-radius: 20px;
}

.ListChildTwo{
      height: auto;
      border-radius: 5px;
}
.ListChildThree{
      border-radius: 5px;
      font-size: 15px;
      height: 40px;

      border: none;
      outline: none;
      position: absolute;
      width: 18%;
      height: 45.5px;
      right: 0px;
      top:0px;
      background: #ff5945;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
}

.Main{
      min-height: 100vh;
      max-height: 100%;
}

    